<header class="header">
  <div class="container">
      <div class="header__wrapper">

           <nav class="header__site-nav">
             
               <a href="" class="header__logo">
                 <svg class="svg-logo">
                   <use href="./images/icons.svg#logo"></use>
                 </svg>
               </a>


             <ul class="header__navigation navigation ">
               <li class="navigation__item item"><a class="navigation__link " href="">Home</a></li>
               <li class="navigation__item item"><a class="navigation__link active" href="">How it’s made?</a></li>
               <li class="navigation__item item"><a class="navigation__link" href="">Our products</a></li>
                <li class="navigation__item item"><a class="navigation__link" href="">Contact</a></li>
             </ul>


           </nav>


         
          <div class="buttons-wrapper">
          <button data-menu-open class="button__open">
            <svg class="svg-open">
              <use href="./images/icons.svg#menu"></use>
            </svg>
          </button>

           <button type="button" class="btn-header btn-tablet  ">Buy now
             <svg width="12" height="12">
               <use href="./images/icons.svg#arrow-small"></use>
             </svg>
           </button>
           </div>
        </div>

      <div class="mob-menu is-hidden " data-menu>
        <div class="container mob-menu__container">
          <div class="mob-menu__header">
            <a href="" class="mob-menu__logo">
            <svg class="svg-logo">
              <use href="./images/icons.svg#logo"></use>
            </svg>
            </a>

          <button type="button" class="menu-close" data-menu-close>
            <svg class="menu-close__svg" width="32" height="32">
              <use href="./images/icons.svg#closemenu"></use>
            </svg>
          </button>
    </div>

          <div class="mob-menu__content">
            <ul class="mob-menu__navigation navigation  ">
              <li class="navigation__item "><a class="mob-menu__link  " href="">Home</a></li>
              <li class="navigation__item "><a class="mob-menu__link active" href="">How it’s made?</a></li>
              <li class="navigation__item "><a class="mob-menu__link" href="">Our products</a></li>
              <li class="navigation__item "><a class="mob-menu__link" href="">Contact</a></li>
            </ul>

            
               <button type="button" class="btn-header mob-menu__button">Buy now
                 <svg width="12" height="12">
                   <use href="./images/icons.svg#arrow-small"></use>
                 </svg>
               </button>
            
           
          </div>
          </div>
        </div>
 </div>

 <svg>
  <use href="./images/icons.svg#cow"></use>
 </svg>

 
</header>