<section class="section hero-section">
  <div class="hero-wrap">
    <h1 class="hero-title">ice cream made with passion</h1>
    <ul class="hero-buttons-list">
      <li class="hero-buttons"><button type="button">Products</button></li>
      <li class="hero-buttons">
        <button type="button">How it’s made?</button>
      </li>
    </ul>
  </div>
  <div class="hero-places">
    <ul class="hero-places-list">
      <li class="hero-places-item">
        <p class="hero-places-numbers">16</p>
        <p class="hero-places-name">cafes</p>
      </li>
      <li class="hero-places-item">
        <p class="hero-places-numbers">23</p>
        <p class="hero-places-name">food trucks</p>
      </li>
    </ul>
  </div>

  <div class="hero-paragraph-box">
    <p class="hero-paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
  </div>
</section>
