.header{
    width: 100%;
    background-color: var( --mob-bg-color);
    
    &__wrapper{
        display: flex;
        
    }
    &__logo{
        padding: 12px 0;
    }
}
.svg-logo{
    width: 40px;
    height: 37px;
    fill: var(--accent-color);
}
.button__open{
    margin-left: auto;
    border: none;
    background-color: transparent;
}
.svg-open{
    width: 32px;
    height: 32px;
    fill: var(--header-color-white);
}



// ---------mob-menu




.no-scroll {
    overflow: hidden;
}

.menu-open {
   
    background-color: transparent;
    border: none;
    margin-left: auto;
    display: block;

    @include mq(tablet){
        display: none;
    }
   
 
  
}

.mob-menu {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    top: 0;
    left:0;
    padding: 48px 40px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    overflow: hidden;
  
  
}

.menu-close {
  background-color: transparent;
  border: none;
  margin-left: auto;
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &__svg{
        fill: currentColor;
    }
    
  
}
.menu-close:hover .menu-close__svg{
    fill: var(--main-color-hover);
}


.mob-menu.is-hidden{
   display: none;
}


.mob-menu {
    font-weight: 500;
    
    

    
	&__item:not(:last-child) {
        margin-bottom: 32px;

		}

	&__link.link {
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.02em;
        color: var(--black-color);
		}
    &__link.active{
        color: rgba(33, 150, 243, 1);

        }
}

.mob-contact {
    margin-bottom: 64px;

		&__item:not(:last-child) {
            margin-bottom: 32px;
		}
        &__link{
            font-size: 24px;
            line-height: 2;
            letter-spacing: 0.02em;

        }
		&__link.active {
            font-size: 34px;
            line-height: 1.17;
            letter-spacing: 0.02em;
            color: var(--main-color-hover);

		}

}

.mob-sosial {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: var(--main-color-hover);


		&__item:not(:last-child) {
            padding-right: 10px;
            border-right: 1px solid rgba(33, 33, 33, 0.2);
            
           

		}
        &__link {
            font-size: 18px;
            line-height: 1.22px;
            letter-spacing: 0.02em;
            
		}
        
}



