.header {
  // width: 100%;
  background-color: var(--mob-bg-color);

  &__wrapper {
    display: flex;
    align-items: flex-end;
    @include mq(tablet) {
      // align-items:center;
    }
    @include mq(desktop) {
      // position: fixed;
      // z-index: 10000;
    }
  }
  &__logo {
    padding: 12px 0 0 0;

    @include mq(tablet) {
      padding: 20px 0 0 0;
    }
    @include mq(tablet) {
      margin-right: 303px;
    }
    @include mq(desktop) {
      padding: 8px 0 0 0;
    }
  }
  &__navigation {
    display: none;
    @include mq(desktop) {
      display: flex;
      align-items: flex-end;
    }
  }
  &__site-nav {
    display: flex;
    align-items: flex-end;
  }
}
.svg-logo {
  width: 40px;
  height: 37px;
  fill: var(--accent-color);
  @include mq(tablet) {
    width: 48px;
    height: 44px;
  }
  @include mq(desktop) {
    width: 60px;
    height: 65px;
  }
}
.buttons-wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 32px;
  @include mq(desktop) {
    margin-left: auto;
  }
}
.btn-header.btn-tablet {
  margin-left: auto;
}
.btn-tablet {
  display: none;
  @include mq(tablet) {
    height: 42px;
    display: block;
  }
}
.navigation {
  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: var(--header-color-white);
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include mq(desktop) {
      padding-top: 44px;
    }
  }
  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }
  &__item + &__item {
    margin-left: 28px;
  }
}

.button__open {
  border: none;
  background-color: transparent;
  @include mq(desktop) {
    display: none;
  }
}
.svg-open {
  display: flex;
  width: 32px;
  height: 32px;
  fill: var(--header-color-white);
}

// ---------mob-menu

.no-scroll {
  overflow: hidden;
}
.menu-open {
  background-color: transparent;
  border: none;
  margin-left: auto;
  display: block;

  @include mq(tablet) {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: var(--mob-bg-color);
  top: 0;
  left: 0;
  height: 100%;
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow: hidden;
  &__container {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: var( --mob-bg-color);
    top: 0;
    left:0;
    height: 100%;
    padding-bottom: 64px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    padding: 12px 0;
  }
  &__content {
    height: 100%;
    padding-top: 51px;
    padding-bottom: 64px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.21;
    color: var(--text-color-white);
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus  {
    color: var(--text-color-black);
  }
  &__navigation {
    text-align: center;
  }
  &__button {
    max-width: 152px;
    @include mq(tablet-only) {
      display: none;
    }
  }
  .navigation__item + .navigation__item {
    margin-top: 32px;
  }
}

.menu-close {
  background-color: transparent;
  border: none;
  margin-left: auto;
  display: block;
  padding: 16px 0;
  //   position: absolute;
  //   top: 10px;
  //   right: 15px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // &__svg{
  //     fill: currentColor;
  // }
}


.mob-menu.is-hidden {
  transform: translateX(-100%);
}
